body{
  font-family: 'Source Sans Pro', sans-serif;
}
.main-section{
  background: url('../i/piton.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: #fff;
}
.main-gradient{
  background: linear-gradient(269deg, rgba(99, 149, 181, 0.4), rgba(255, 214, 117, 0.4));
  background-size: 400% 400%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  height: 100vh;
  width: 100%;
  position: absolute;
}
.main-container{
  position: relative;
  top: 50%
}
.main-section h1{
  font-weight: 900;
  font-size: 120px;
  text-shadow: 0 0 20px #222;
}
.main-section h1 span{
  font-weight: 400;
}
.main-section p{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 0;
  letter-spacing: 10px;
  text-shadow: 0 0 20px #222;
}
.main-section a{
  text-decoration: none;
  color: #fff;
}
.main-section p:last-child{
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 0;
}
.text-wrapper{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@keyframes AnimationName {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}

/*MEDIAQUERIES*/

@media (min-width: 768px) and (max-width: 1024px){
  .main-section h1{
    font-size: 80px;
  }
  .main-section p{
    font-size: 24px;
  }
  .main-section p:last-child{
    font-size: 12px;
  }
}
@media (min-width: 568px) and (max-width: 767px){
  .main-section h1{
    font-size: 50px;
  }
  .main-section p{
    font-size: 18px;
    letter-spacing: 5px;
  }
  .main-section p:last-child{
    font-size: 10px;
  }
}
@media (min-width: 320px) and (max-width: 567px){
  .main-section h1{
    font-size: 40px;
  }
  .main-section p{
    font-size: 16px;
    letter-spacing: 2px;
  }
  .main-section p:last-child{
    font-size: 10px;
  }
}
