<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python Day</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="nav-down">
      <div class="container">
        <div class="row">
          <nav>
            <a href="#programa" ><i class="fa fa-calendar"></i> Programa</a>
          </nav>
        </div>
      </div>
    </header>
    <section class="main-section">
      <div class="main-gradient"></div>
      <div class="container main-container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-wrapper">
              <h1>PythonDay <span>México</span></h1>
              <p>Junio 10, 2017 | <a href="https://www.google.com.mx/maps/place/Calle+Isabel+la+Catolica+51,+Centro+Hist%C3%B3rico,+Centro,+06000+Ciudad+de+M%C3%A9xico,+CDMX/@19.4308376,-99.1374879,18z/data=!4m5!3m4!1s0x85d1fed2e50830db:0x73fd371d2dacd37!8m2!3d19.4310273!4d-99.1368442" target="_blank">TelmexHub</a></p>
              <a href="https://telmexhub.org/index.php/evento/4490" target="_blank" class="registro">Registro asistentes</a>
              <a href="https://www.papercall.io/pythondaymx" target="_blank" class="registro registro-ponentes">Registro ponentes</a>
              <div class="contacto">
                <p>¿Te interesa formar parte de PythonDay?</p> <p>Escríbenos a <a href="mailto:contacto@pythonday.mx">contacto@pythonday.mx</a></p>
              </div>
              <ul>
                <li>
                  <a href="https://www.facebook.com/PythonDay-México-272917536472382" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/pythondaymx" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="schedule">
      <a name="programa"></a>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Programa</h2>
            <p>Si vas a asistir a algún taller, por favor trae tu equipo de cómputo personal</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Horario</th>
                  <th>Ponente</th>
                  <th>Nombre de la charla</th>
                  <th>Descripción de la charla</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-1">11 - 12 hrs.</td>
                  <td class="col-md-1">Naomi Ceder</td>
                  <td class="col-md-2">"What is the GIL and why does everyone want to kill it?"</td>
                  <td class="col-md-3">S/D</td>
                </tr>
                <tr>
                  <td class="col-md-1">S/D</td>
                  <td class="col-md-1">Lorena Mesa</td>
                  <td class="col-md-2">"Using Django, Docker, and Scikit-learn to Bootstrap Your Machine Learning Project"</td>
                  <td class="col-md-3">"Reproducible results can be the bane of a data engineer or data scientist’s existence. Perhaps a data scientist prototyped a model some months ago, tabled the project, only to return to it today. It’s now when they notice the inaccurate or lack of documentation in the feature engineering process. No one wins in that scenario. In this talk we’ll walk through how you can use Django to spin up a Docker container to handle the feature engineering required for a machine learning project and spit out a pickled model. From the version controlled Docker container we can version our models, store them as needed and use scikit-learn to generate predictions moving forward. Django will allow us to easily bootstrap a machine learning project removing the downtown required to setup a project and permit us to move quickly to having a model ready for exploration and ultimately production. Machine learning done a bit easier? Yes please!"</td>
                </tr>
                <tr>
                  <td class="col-md-1">S/D</td>
                  <td class="col-md-1">Flavio Percoco</td>
                  <td class="col-md-2">S/D</td>
                  <td class="col-md-3">S/D</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="objetivos">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2> Misión</h2>
            <p>Queremos ser la plataforma para reunir a las distintas comunidades de Python en México en un solo lugar,  crear relaciones con las distintas comunidades de Python en el mundo y visibilzar el trabajo que se está realizando alrededor del lenguaje en el país.</p>
          </div>
          <div class="col-md-4">
            <h2>Visión</h2>
            <p>Continuar desarrollando eventos para que la comunidad crezca, consolidar una comunidad más activa de Python en México y organizar en el 2018 la primera PyCon en el país.</p>
          </div>
          <div class="col-md-4">
            <h2>Objetivo</h2>
            <p>Reunir a personas interesadas en el lenguaje Python, desde programadores que van haciendo su primera incursión hasta programadores expertos que deseen llevar más allá sus habilidades.</p>
          </div>
        </div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>
